body {
  background-color: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

.titulo {
  text-align: center;
  margin: 50px 0;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 50px;
}

.menu li {
  background-color: #fff;
  border-radius: 5px;
  list-style-type: none;
  padding: 15px 30px;
}

.menu a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.sec_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bloco {
  background-color: #fff;
  justify-content: end;
}

.img_bikcraft {
  display: block;
  max-width: 100%;
  grid-column: 2;
}

.btn_vermais {
  background-color: red;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  width: 100px;
}

footer {
  text-align: center;
  background-color: #fff;
  padding: 40px;
  width: 100%;
}
